*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2em 2em; */
  font-size: 16px;
  color: #34495e;
  background: #f8f9fa;
}

svg {
  overflow: visible;
}

.header {
  position: sticky;
  width: 100%;
  height: 20%;
  background-color: #0080ff;
  overflow: hidden;
}
.title {
  position: relative;
  font-family: "Oswald";
  width: 100%;
  font-size: 2em;
  font-weight: 900;
  padding-left: 1em;
  line-height: 0.1em;
  padding-bottom: 0;
  color: #f8f9fa;
}

h4 {
  padding-left: 2em;
  padding-top: 0.2em;
  font-size: 1.5rem;
  font-weight: 400;
  background: #f8f9fa;
  margin: 0;
}

.wrapper {
  width: 50%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  position: relative;
  /* background: pink; */
}
.grid-line {
  stroke: #dadadd;
  fill: none;
}

.tick-label {
  dominant-baseline: middle;
  fill: #8395a7;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 0.005em;
}

.tick-label-score {
  font-size: 0.7em;
  fill: #8395a7;
  opacity: 0.8;
  dominant-baseline: middle;
}

.annotation-line {
  stroke: #34495e;
  opacity: 0.4;
}

.annotation-text {
  fill: #34495e;
  font-size: 0.7em;
  opacity: 1;
  dominant-baseline: middle;
}

.listener-circle {
  fill: transparent;
  /* don't fill with none, because you cant see mouse event */
}

.tooltip-line {
  fill: #8395a7;
  opacity: 0.2;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 15em;
  padding: 0.6em 1em;
  background: #fff;
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border: 1px solid #ddd;
  z-index: 10;
  pointer-events: none;
}

.tooltip-metric {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  /* font-size: 0.9em; */
}
.content {
  display: flex;
  justify-content: left;
  padding-bottom: 2rem;
}
.paragraph {
  width: 22%;
  padding-left: 3rem;
  /* padding: 6rem; */
  transform: translate(0, 35%);
  /* background: red; */
}
.placeholder.left {
  width: 10%;
  /* background: red; */
}

.placeholder.right {
  width: 10%;
  /* background: red; */
}
.paragraph p {
  /* background: green; */
}

.header {
  /* background: yellow; */
}
.header h2 {
  text-align: left;
  /* background: pink; */
}

.container {
  /* padding: 1rem; */
  position: relative;
  width: 5em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8f9fa;
  opacity: 0.7;
}

img:hover {
  opacity: 1;
}
li:hover .text {
  opacity: 1;
}
.container:hover .overlay {
  opacity: 0;
}

img.swiper-slide {
  width: 40px;
  height: auto;
}
.swiper {
  /* padding: 4em; */
  width: 400px;
  height: 60px;
  /* background: red; */
}

.swiper-wrapper {
  padding-top: 1em;
}

img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 60px;
  height: auto;
  object-fit: cover;
}

/* .swiper-pagination {
  &-bullet {
    opacity: 0.8;
    background:black;
    &-active {
      background: white;
    }
  }
}


  /* .arrow-icon {
    font-size: 2rem;
    color: purple;
  } */

div.swiper-button-prev,
div.swiper-button-next {
  color: #6699ff;
}

span.swiper-pagination-bullet {
  background-color: #6699ff;
}

div.swiper-scrollbar {
  /* background: white; */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.footnote {
  text-align: right;
  padding-right: 1em;
  width: 100%;
}

.tagline {
  width: 100%;
  text-align: left;
}

.content {
  width: 80%;
  /* margin-top: -2%; */
  padding-right: 20%;
  /* background: red; */
}

img.paraimg {
  /* float: left; */

  /* background: red; */
}

#description {
  text-align: justify;
  /* padding: 10px; */
  /* margin-top: -2%; */
  /* margin-left: 10%; */
  font-size: 16px;
}

#span1 {
  font-weight: 900;
}

#wrapper {
  float: right;
  /* background: red; */
}

.paragraph {
  width: 40%;
  padding-right: 10%;
  padding-left: 5%;
}
